.h__header {
    display: flex;
}

.h__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 5rem;
}

.h__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.h__header-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.h__header-content__input {
   width: 100%;
   margin: 2rem 0 1rem;
   display: flex; 
}

.h__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.h__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;  
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    background: greenyellow; 
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.h__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h__header-image img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    .h__header {
        flex-direction: column;
    }

    .h__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .h__header h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .h__header-header p {
        font-size: 16px;
        line-height: 24px;
    }
}

.h__header-content__input input,
.h__header-content__input button {
    font-size: 16px;
    line-height: 24px;
}